<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido estimado Administrador </h1>
        <h2>Has ingresado a Abarroteria los Metroid </h2>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h1>Bienvenido estimado usuario</h1>
        <h1></h1>
        <h2>Has ingresado a Abarroteria los Metroid </h2>
    </Authorized>
</AuthorizeView>