<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h2>Bienvenido Administrador Abarroteria los Metroid </h2>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h2>Bienvenido Usuario a Abarroteria Los Metroid </h2>
    </Authorized>
</AuthorizeView>

